.sample-text{
    background-color: rgb(244, 244, 174);
    font-size: large;
    color: brown;
    text-align: center;
}
.about-text{
    background-color: rgb(222, 227, 244);
    color: rgb(60, 110, 111);
    text-align: center;
    font-size: 18px;
}
.content p{
    background-color: bisque;
    color: darkcyan;
    font-size: large;
}
button{
    background-color: rgb(228, 226, 226);
    border-radius: 20px;
    font-size: 15px;
}