.sample-text{
    background-color: rgb(244, 244, 174);
    font-size: large;
    color: brown;
    text-align: center;
}
.about-text{
    background-color: rgb(165, 185, 244);
    color: rgb(60, 110, 111);
    text-align: center;
    font-size: 18px;
}